<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  
    <system.serviceModel>
      
   
      
        <!--  这是系统自己生成的
        <services>
            <service name="WCF_Test.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="WCF_Test.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF_Test/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      -->
       <services>
            <service name="WCF_Test.Service1" behaviorConfiguration="MessageBehavior">
               <host>
                <baseAddresses>
                  <add baseAddress="http://127.0.0.1:1920/Service1"/>
                </baseAddresses>
               </host>
        
              <endpoint address="" binding="wsHttpBinding" contract="WCF_Test.IService1">
              </endpoint>

              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
       
            </service>
      </services>
      <behaviors>
            <serviceBehaviors>
                <behavior name="MessageBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

    </system.serviceModel>
</configuration>