@model MyMvc.Areas.area.areaAreaRegistration


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <span>姓名：</span><input id="Text1" type="text"  value=@ViewBag.name /><br/>
    <span>密码：</span><input id="passwd" type="text" value=@ViewBag.pwd  /><br />
    <span>验证码：</span>
    @Html.TextBox("tb");
    @Html.DisplayText("tb");<br />
    @Html.CheckBox("passwd");
    <input id="Submit1" type="submit" value="submit" />


}


